<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{{url_for('static', filename=img1_path)}}" alt="img1" style="width:100%">
          <div class="caption">
            <p>Source</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{{url_for('static', filename=img2_path)}}" alt="img2" style="width:100%">
          <div class="caption">
            <p>Destination</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{{url_for('static', filename=result_path)}}" alt="result" style="width:100%">
          <div class="caption">
            <p>Face Swap Result</p>
          </div>
        </a>
      </div>
    </div>
  </div>
<a href="/">Back to home</a>
</body>
</html>